  <form action="/auth/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username"><br><br>
  <label for="">Password: </label>
  <input type="password" id="password" name="password"><br><br>
  {{message}}
  <button type='submit'>Registrovat se</button>
  </form>